:root {
    --header: #44403c;
    --navbar: #e7e5e4;
    --page: #fafaf9;
    --main-font: #2c2c2c;
    --secondary-font: #fafaf9;
    --button-c: #44403c;

    --important: linear-gradient(180deg,rgb(231, 231, 97),rgb(255, 255, 165));
    --complete: linear-gradient(180deg, mediumspringgreen, springgreen);
    --failed: linear-gradient(180deg,rgb(255, 19, 66),rgb(255, 76, 76) );

    --border: 2px solid #44403c;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-font);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*containers*/
#container {
    display:grid;
    grid-template-areas: 
        'header header'
        'nav page';
    grid-template-columns: 250px 1fr;
    grid-template-rows: 5rem 1fr;
    height: 100vh;
    width: 100vw;
}

/*Header*/
#header,
#navbar,
.form,
.card {
    box-shadow: 0px 0px 10px 2px var(--button-c);
    z-index: 1;
}

#header {
    grid-area: header;
    background-color: var(--header);
}

.todo-title {
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 1rem;
    padding: 0.5em 5rem;
}

/*navbar*/
#navbar {
    grid-area: nav;
    background-color: var(--navbar);
}

#nav,
#create-project,
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2.5rem 0;
}

#nav {
   align-items:center; 
}

#create-project {
   margin: 0 2.5rem;
}

.nav-project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    text-align:  left;
    width: unset !important;
    height: unset !important;
}

.inline-project {
    display:flex;
    justify-content: space-between;
}

/*todo-page-contents*/
#todo {
    grid-area: page;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--page);
}

#todo > div {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 0 10rem;
}

#todo > div > div {
    display:flex;
    align-items: center;
    gap: 10px;
}

#todo > div:first-child {
    margin-top: 2.5rem;
}

#todo > div:last-child {
    margin-bottom: 2.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: min(50%,750px);
    height: calc(375px - 10vw);
    border: var(--border);
    border-radius: 10px;
    background: linear-gradient(var(--navbar),var(--page));
}

.info {
    gap: 5rem !important;
    place-items: center !important;
    place-content: center !important;
}

.info * {
    white-space: nowrap;
}

.important {
    background: var(--important);
}

.complete {
    background: var(--complete);
}

.failed {
    background: var(--failed);
}

@media (max-width: 1120px){
    .info {
        flex-direction: column;
        gap: 1.5rem !important;
    }
}

/*popup*/
.hide {
    visibility: hidden;
}

.hidden {
    position: absolute;
    top: 35%;
    left: 45%;
}

.form {
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: calc(250px + 10vw);
    height: 250px;
    border: var(--border);
    background-color: var(--page);
}

.header {
    background-color: var(--header);
}

.fade {
    opacity: 0.5;
}


/*text & img*/
#header h1,
#todo h1 {
    font-size: 60px;
}

#header h1 {
    font-family: rubik marker hatch;
    color: var(--secondary-font);
    -webkit-text-stroke: 2.5px var(--navbar);
}

/*logo*/
img {
    width: 75px;
    height: 50px;
}

/*navbar svgs*/
#all svg, #today svg, #this-week svg, #important svg, #history svg {
    position: absolute;
}

#all svg {
    transform: scale(0.5) translate(-135px,-25px) !important;
}

#today svg {
    transform: scale(0.5) translate(-110px,-25px) !important;
}

#this-week svg{
    transform: scale(0.5) translate(-75px,-25px) !important;
}

#important svg {
    transform: scale(0.5) translate(-85px,-25px) !important;
}

#history svg {
    transform: scale(0.5) translate(-105px,-25px) !important;
}

/*todo svg*/
h1 img {
    height: 4.5rem;
    transform: translateY(15px);
}





#create-project *,
#todo p,
#todo label {
    font-size: 20px;
}

.project > p, svg {
    pointer-events: none;
}

.card h2 {
    font-size: 40px;
}

.bold {
    font-weight: bold;
}

.form h1 {
    width: 100%;
    color: var(--secondary-font);
    text-align: center;
    transform: translateY(-16px);
}

.form label,
.form input{
    margin: 0 3.5rem;
}

/*components*/
/*navbar*/
#nav > button,
.project {
    width: 50%;
    height: 25px;
    padding: 0.5em 1rem;
    text-align: center;
    list-style-type: none;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-sizing: content-box;
    background-color: var(--page);
}

#nav > button:enabled:hover,
#nav > button:focus,
.add:enabled:hover,
.project.button:hover,
.project > button:hover,
#popup button:hover {
    outline: var(--border);
    filter: brightness(1.2);
    cursor: pointer;
}

#nav > button:focus-within,
.selected {
    color: var(--secondary-font) !important;
    fill: var(--secondary-font) !important;
    background-color: var(--button-c) !important;
}



/*projects*/
.add,
.nav-project button {
    padding: 0 6px;
    border: none;
    border-radius: 50%;
    color: var(--secondary-font);
}

.add:hover,
.nav-project button:hover {
    animation: spin 3s infinite alternate;
    transition: ease;
}

.add {
    background-color: var(--button-c);
}

.nav-project button {
    background-color: crimson;
}

/*ToDo list Page*/
#todo > div:first-child > button {
    height: 20px;
}

#todo input[type="date"]{
    border-radius: 5px;
    font-size: 18px;
    width: 10rem;
}

#todo input[type="checkbox"] {
    transform: scale(1.5);
}

/*popup*/
#popup input {
    width: 75%;
}

.form div {
    position:relative;
    top: 50px;
    display:flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 0 1rem;
}

#popup button {
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

#cancel {
    background: linear-gradient(270deg,var(--page),var(--navbar)); 
}

#create {
    color: var(--secondary-font);
    background: linear-gradient(90deg,var(--header),var(--main-font));
}

/*animations*/
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}