:root {
    --header: #44403c;
    --navbar: #e7e5e4;
    --page: #fafaf9;
    --main-font: #2c2c2c;
    --secondary-font: #fafaf9;
    --button-c: #44403c;

    --border: 2px solid #44403c;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-font);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*containers*/
#container {
    display:grid;
    grid-template-areas: 
        'header header'
        'nav page';
    grid-template-columns: 250px 1fr;
    grid-template-rows: 5rem 1fr;
    height: 100vh;
    width: 100vw;
}

/*Header*/
#header, #navbar, .form{
    box-shadow: 0px 0px 10px 2px var(--button-c);
    z-index: 1;
}

#header {
    grid-area: header;
    background-color: var(--header);
}

/*navbar*/
#navbar {
    grid-area: nav;
    background-color: var(--navbar);
}

#nav, #create-project, .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2.5rem 0;
}

#nav {
   align-items:center; 
}

#create-project {
   margin: 0 2.5rem;
}

.inline-project {
    display:flex;
    justify-content: space-between;
}

/*popup*/
.hidden {
    position: absolute;
    top: 35%;
    left: 45%;
}

.form {
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: calc(250px + 10vw);
    height: 250px;
    border: var(--border);
    background-color: var(--page);
}

.header {
    background-color: var(--header);
}

.fade {
    opacity: 0.5;
}

/*todo-page-contents*/
#todo {
    grid-area: page;
    background-color: var(--page);
}

/*text*/
#header > h1 {
    padding: 0.1em 5rem;
    font-size: 60px;
    font-family: rubik marker hatch;
    color: var(--secondary-font);
    -webkit-text-stroke: 2.5px var(--navbar);
}

#create-project * {
    font-size: 20px;
}

.form h1 {
    width: 100%;
    color: var(--secondary-font);
    text-align: center;
    transform: translateY(-16px);
}

.form label, .form input{
    margin: 0 3.5rem;
}

/*components*/
/*navbar*/
#nav > button {
    width: 50%;
    height: 25px;
    padding: 0.5em 1rem;
    text-align: center;
    list-style-type: none;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-sizing: content-box;
    background-color: var(--page);
}

#nav > button:enabled:hover, #nav > button:focus, .add:enabled:hover        {
    outline: var(--border);
    filter: brightness(1.2);
    cursor: pointer;
}

#nav > button:focus-within {
    color: var(--secondary-font);
    background-color: var(--button-c);
}

/*projects*/
.add {
    padding: 0 6px;
    border: none;
    border-radius: 50%;
    color: var(--secondary-font);
    background-color: var(--button-c);
}

/*popup*/
#popup input {
    width: 75%;
}

.form div {
    position:relative;
    top: 50px;
    display:flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 0 1rem;
}

#popup button {
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

#cancel {
    background: linear-gradient(270deg,var(--page),var(--navbar)); 
}

#create {
    color: var(--secondary-font);
    background: linear-gradient(90deg,var(--header),var(--main-font));
}